<footer class="flex items-center">
    <p>Footer information, copyright, <a href="https://www.semrush.com/blog/semantic-html5-guide/">webpage</a>, etc.</p>
    <nav>
        <a class="hover:underline font-semibold px-4" href="#">Jobs</a>
        <a class="hover:underline font-semibold px-4" href="#">Products</a>
        <a class="hover:underline font-semibold px-4" href="#">Legal</a>
    </nav>
</footer>