<footer>
    <nav>
        <ul>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Legal</a></li>
        </ul>
    </nav>
    <p>&copy; {{ "now" | date: "%Y" }} -  information, copyright, etc.</p>
</footer>