<footer class="-mx-6 bg-white px-6 py-12">
	<div class="mx-auto container text-gray-800 text-sm flex justify-between">
		<span>Powered by <a href="https://digizu.co.uk" class="text-black">Digizu</a></span>
		<span>&copy; copyright 2019</span>
	</div>
</footer>