<footer class="bg-gray-900 text-gray-100 text-center flex justify-center px-6 py-12">
	<a href="#" class="mx-6 hover:text-gray-600">123 Address</a>
	<a href="#" class="mx-6 hover:text-gray-600">0800 123 456</a>
	<a href="#" class="mx-6 hover:text-gray-600">my@email.com</a>
</footer>