<section class="bg-blue-600 text-white p-12">
	<div class="container mx-auto">
		<div class="flex flex-wrap justify-between items-center">
			<div class="text-center lg:text-left w-full mb-6 lg:mb-0 lg:w-auto">
				<strong class="font-black text-lg md:text-3xl">Excepteur sint occaecat cupidatat non</strong>
			</div>
			<div class="text-center lg:text-right w-full md:w-auto">
				<a href="#" class="inline-block bg-white text-blue-600 py-2 px-5 text-base rounded-full hover:shadow-lg">Get in touch!</a>
			</div>
		</div>
	</div>
</section>
<section class="bg-white py-24 px-12">
	<div class="max-w-xl mx-auto text-center">
		<h2 class="mb-2 font-black text-xl lg:text-3xl text-gray-900">Ut enim ad minim veniam.</h2>
		<h3 class="mb-6 text-base lg:text-lg text-gray-700 max-w-xl">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</h3>
	</div>
	<div class="conatiner mx-auto">
		<div class="flex flex-wrap">
			<div class="w-full lg:w-1/3 p-4">
				<a href="#" class="block w-full h-full relative rounded-lg overflow-hidden shadow-lg">
					<img src="https://images.unsplash.com/photo-1495431088732-09e59535d241?w=800" />
					<div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
						<div class="p-6 py-8 text-center max-w-xs relative">
							<div class="absolute left-0 top-0 w-full h-full bg-black opacity-50"></div>
							<div class="relative z-10">
								<h4 class="mb-2 font-display text-lg text-white">Ut enim ad minim veniam.</h4>
								<h5 class="mb-4 font-condensed text-xs text-white px-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</h5>
								<span class="inline-block bg-white font-condensed text-primary py-2 px-5 text-xs rounded-full">Find out more</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="w-full lg:w-1/3 p-4">
				<a href="#" class="block w-full h-full relative rounded-lg overflow-hidden shadow-lg">
					<img src="https://images.unsplash.com/photo-1495431088732-09e59535d241?w=800" />
					<div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
						<div class="p-6 py-8 text-center max-w-xs relative">
							<div class="absolute left-0 top-0 w-full h-full bg-black opacity-50"></div>
							<div class="relative z-10">
								<h4 class="mb-2 font-display text-lg text-white">Ut enim ad minim veniam.</h4>
								<h5 class="mb-4 font-condensed text-xs text-white px-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</h5>
								<span class="inline-block bg-white font-condensed text-primary py-2 px-5 text-xs rounded-full">Find out more</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="w-full lg:w-1/3 p-4">
				<a href="#" class="block w-full h-full relative rounded-lg overflow-hidden shadow-lg">
					<img src="https://images.unsplash.com/photo-1495431088732-09e59535d241?w=800" />
					<div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
						<div class="p-6 py-8 text-center max-w-xs relative">
							<div class="absolute left-0 top-0 w-full h-full bg-black opacity-50"></div>
							<div class="relative z-10">
								<h4 class="mb-2 font-display text-lg text-white">Ut enim ad minim veniam.</h4>
								<h5 class="mb-4 font-condensed text-xs text-white px-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</h5>
								<span class="inline-block bg-white font-condensed text-primary py-2 px-5 text-xs rounded-full">Find out more</span>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>