---
import PageLayout from '../layouts/astrodocLayout.astro'
const { content } = Astro.props
---
<PageLayout content={content}>
    <section>
                    <h2>{content.title}</h2>
                    <slot />
                </section>
</PageLayout>