---
import PageLayout from '../layouts/astrodocLayout.astro'
import Aside from '../components/mainComponents/aside.astro'
let data = await Astro.glob('../pages/plan/*.md')
const { content } = Astro.props
---
<PageLayout content={content}>
			<section class="prose prose-sm md:prose-base xl:prose-xl max-w-none">
				<h2>{content.title}</h2>
				<slot />
			</section>
			<Aside />
</PageLayout>



<style is:global>
	body {
		@apply bg-slate-100 min-h-screen flex flex-col
	}
	header, footer {
		@apply bg-cyan-50 p-4
	}
	main {
		@apply bg-white grow mx-auto flex flex-col md:flex-row p-4 lg:w-5/6
	}
	aside {
		@apply p-4 border
	}
	#grid-main {
		@apply grow p-4 border
	}
</style>