---
title: Layout 1
description: Nouvelle version de layout
---
{% include 'version6/header' %}
{% include 'version6/nav' %}
<main>
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <section aria-label="Semantic structure">
    </section>
</main>
{% include 'version6/aside' %}
{% include 'version6/footer' %}