---
title: Version 4
layout: base-v4
date: 2023-11-04
tags:
  - layouts
  - version4
---
    <article>
    <h2 class="text-3xl font-bold py-4">Basic Layout n° 2</h2>
    <p>texte</p>
    </article>
    <section class="font-mono">
      <h2 class="text-3xl font-bold py-4">Layout Structure</h2>
      <pre>
    ┌──────────────────────
    │ layouts/PageLayout.astro
    │ ┌────────────────────
    │ │ components/BaseHead.astro
    │ └────────────────────
    │ ┌────────────────────
    │ │ components/BaseBody.astro
    │ │ ┌──────────────────
    │ │ │ components/MainHeader.astro
    │ │ │ ┌────────────────
    │ │ │ │ components/Nav.astro
    │ │ │ └────────────────
    │ │ └──────────────────
    │ │ ┌──────────────────
    │ │ │ pages/index.astro
    │ │ │ (slot)
    │ │ │
    │ │ │
    │ │ │
    │ │ └──────────────────
    │ │ ┌──────────────────
    │ │ │ components/MainFooter.astro
    │ │ └──────────────────
    │ └────────────────────
    └──────────────────────
      </pre>
    </section>