---
title: Boxes
layout: base-v3
tags: version3
---
<header class="h-screen">
    {% include 'version3/mainNav' %}
    <div class="flex h-full">
        <section class="w-1/2 bg-[url('/assets/images/image1.jpg')] bg-cover bg-center">
        </section>
        <section class="w-1/2 flex justify-center items-center">
            <div class="bg-slate-100 p-5 border-2 rounded-xl">
                <p>w-1/2 flex justify-center items-center</p>
            </div>
        </section>
    </div>
</header>
<main class="">
    <section class="prose-sm">
        <p>Layout for boxes</p>
    </section>
</main>
<footer>
    <p>footer</p>
</footer>