---
title: Full screen
layout: base-v3
date: 2023-11-02
tags: version3
---
<header class="h-screen bg-[url('/assets/images/image1.jpg')] bg-cover bg-center h-full">
        {% include 'version3/mainNav' %}
        <div class="flex justify-center items-center h-full">
            <section class="bg-slate-100 p-5 border-2">
                <p>flex justify-center items-center h-full</p>
            </section>
        </div>
</header>
<main class="">
    <section class="prose-sm">
        <p>Layout for full screen header</p>
    </section>
</main>
<footer>
    <p>footer</p>
</footer>