---
import { Markdown } from 'astro/components';
import StyleLayout from '../layouts/layoutStyles/split.astro'
const title = "Astro documentation template"
---

<StyleLayout content={{title}}>
    <p>This is the Astro documentation website template. Very interesting !</p>
	<p>Here is the CSS style:</p>
</StyleLayout>

<style>

</style>