---
import BaseLayout from '../layouts/BaseLayout.astro';
import MainNav from '../components/MainNav.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Article from '../components/articleWithAside.astro';
import Aside from './articles/aside.astro';
const pageTitle = "Related Aside";
---
<BaseLayout pageTitle={pageTitle}>
<Header></Header>
<MainNav></MainNav>
<main>
    <Article>
        <Aside />
    </Article>
</main>
<Footer></Footer>
</BaseLayout>