---
title: About
description: About page
layout: base-v1
date: 2023-11-03
tags:
  - version1
---
<h1>About page</h1>
<p>This is my page content. It will be nested inside the /src/layouts/BaseLayout.astro layout.</p>