---
title: Contact
description: Contact page
layout: base-v1
date: 2023-11-04
tags:
  - version1
---
<h1>Contact page</h1>
<p>This is my page content. It will be nested inside the /src/layouts/BaseLayout.astro layout.</p>