---
title: Version 1
description: Hello, World!
layout: base-v1
date: 2023-11-01
tags:
  - layouts
  - version1
---
<p>This is my page content. It will be nested inside the /src/_layouts/base-v1 layout.</p>
