---
title: Products
description: Products page
layout: base-v1
date: 2023-11-02
tags:
  - version1
---
<h1>Products</h1>
<p>This is my page content. It will be nested inside the /src/layouts/BaseLayout.astro layout.</p>