<nav>
    <a href="/">Nav before Header</a>
    <a href="/NavInsideHeader">Nav inside Header</a>
    <a href="/NavAfterHeader">Nav after Header</a>
    <a href="/ArticlesInsideSection">Articles inside section</a>
    <a href="/SectionsInsideArticle">Sections inside article</a>
    <a href="/RelatedAside">Related Aside</a>
    <a href="/IndirectlyRelatedAside">Indirectly Related Aside</a>
</nav>