body > div > header, main, body > div > footer {
	border: 1px solid black;
}

nav {
	border: 1px solid orange;
}

aside {
	border: 1px solid magenta;
}

article {
	border: 1px dashed red;
}

section {
	border: 1px dashed blue;
}

header, main, footer, nav, aside, article, section {
	margin: 5px;
	padding: 5px;
}
