---
title: Layout 2
description: Nav inside Header
---
<header>
{% include 'version5/header.html' %}
{% include 'version5/nav.html' %}
</header>
<main>
{% include 'version5/article.html' %}
<ul>
    <li>Header</li>
    <ul>
        <li>Nav</li>
    </ul>
    <li>Main</li>
    <ul>
        <li>Article</li>
        <ul>
            <li>Section</li>
            <li>Section</li>
            <li>Section</li>
        </ul>
    </ul>
    <li>Footer</li>
</ul>
</main>
{% include 'version5/footer.html' %}