---
title: Layout 3
description: Nav after Header
---
<header>
    {% include 'version5/header.html' %}
</header>
{% include 'version5/nav.html' %}
<main>
    {% include 'version5/section.html' %}
    <ul>
        <li>Header</li>
        <li>Nav</li>
        <li>Main</li>
        <ul>
            <li>Section</li>
            <ul>
                <li>Article</li>
                <li>Article</li>
                <li>Article</li>
            </ul>
        </ul>
        <li>Footer</li>
    </ul>
</main>
{% include 'version5/footer.html' %}