---
title: Layout 1
description: Nav before Header
layout: base
tags: primaryNav
date: 2023-06-02
---
{% include 'nav.html' %}
<header>
    {% include 'header.html' %}
</header>
<main>
    {% include 'article.html' %}
    <ul>
        <li>Nav</li>
        <li>Header</li>
        <li>Main</li>
        <ul>
            <li>Article</li>
            <ul>
                <li>Section</li>
                <li>Section</li>
                <li>Section</li>
            </ul>
        </ul>
        <li>Footer</li>
    </ul>
</main>
{% include 'footer.html' %}