---
title: Layout 4
description: Articles inside section
layout: base
tags: primaryNav
---
<header>
    {% include 'header.html' %}
</header>
{% include 'nav.html' %}
<main>
    <section>
        {% include 'article.html' %}
    </section>
    <ul>
        <li>Header</li>
        <li>Nav</li>
        <li>Main</li>
        <ul>
            <li>Article</li>
            <ul>
                <li>Section</li>
                <li>Section</li>
                <li>Section</li>
            </ul>
        </ul>
        <li>Footer</li>
    </ul>
</main>
{% include 'footer.html' %}