---
title: Layout 7
description: Indirectly Related Aside
layout: base
tags: primaryNav
---
<header>
    {% include 'header.html' %}
</header>
{% include 'nav.html' %}
<main>
        {% include 'article.html' %}
        {% include 'aside.html' %}
        <ul>
            <li>Header</li>
            <li>Nav</li>
            <li>Main</li>
            <ul>
                <li>Article</li>
                <ul>
                    <li>Section</li>
                    <li>Section</li>
                    <li>Section</li>
                </ul>
                <li>Aside</li>
            </ul>
            <li>Footer</li>
        </ul>
</main>
{% include 'footer.html' %}