---
title: Version 2
description: A collection of Tailwind CSS templates from Ross Topping
layout: base-v2
date: 2023-11-02
tags:
  - layouts
  - version2
body: min-h-screen flex flex-col
main: grow mx-auto flex flex-col md:flex-row p-4 lg:w-5/6
grid-main: grow p-4 border
---
<p>This is the Astro documentation website template. Very interesting !</p>
<h2>A collection of Tailwind CSS templates from Ross Topping</h2>
<ul>
    <li><a href="/version2/pages/rosstopping/skycrapper">Skycrapper</a>, a assymetrical template</li>
    <li><a href="/version2/pages/rosstopping/fullscreen">Fullscreen</a>, a full screen photo</li>
    <li><a href="/version2/pages/rosstopping/blocks">Blocks</a>, a grid of cards</li>
    <li><a href="/version2/pages/rosstopping/marketing">Marketing</a>, a single column template</li>
    <li><a href="/version2/pages/rosstopping/product">Product</a>, a split screen</li>
</ul>
<p><a href="https://tailwind-templates-v1.netlify.app/">Original Astro website</a></p>
<p><a href="https://templates.digizu.co.uk/">Ross Topping Templates</a> on <a href="https://github.com/rosstopping">GitHub</a></p>