---
title: Single column
description: A collection of Tailwind CSS templates from Ross Topping
layout: base-v2
body: min-h-screen flex flex-col
main: grow mx-auto flex flex-col md:flex-row p-4 lg:w-5/6 bg-white
grid-main: grow
---
<p>This is the Astro documentation website template. Very interesting !</p>
<p>Here is the CSS style:</p>
<code>
	<pre>
		body {
			@apply min-h-screen flex flex-col
		}
		main {
			@apply grow mx-auto flex flex-col md:flex-row p-4 lg:w-5/6
		}
		#grid-main {
			@apply grow
		}
	</pre>
</code>